
ul {
list-style-type:none;
}
a {
text-decoration:none;
}

.ind-box {
width:97.5%;
margin:20px;
background:#fff;
border:1px #ddd solid;
}
.mslaf-omw {
width:100%;
height:50px;
line-height:60px;
border-bottom:1px #cccccc solid;
margin-top:19px;
}
.shop {
width:auto;
display:inline-block;
padding-left:0.4%;
padding-right:0.4%;
height:50px;
border-bottom:3px #2cb9d7 solid;
text-align:center;
margin-left:8px;
font-size:18px;
position:relative;
top:-2px;
}
.layui-table {
margin-top:0px!important;
}
.ind-sear {
border:1px #ccc solid!important;
background:#fff!important;
width:80px;
}
.but-sear{
width:70px;
height:25px;
border:0px!important;
background:#ffffff!important;
border:1px #ccc solid!important;
color:#999999;
font-size:12px;
position:relative;
top:-1px;
left:5px;
}
.sele-star {
height:25px;
border:1px #ccc solid!important;
background:#fff!important;
}
.sele-star option:first-child{
    color:#ccc;
    }
.sele-star option {
color:#ffd800 ;   
    }
.pos-top{
position:relative;
top:-10px;
border-left:0px!important;
border-right:0px!important;

}
.pos-top tr{
    background:#fff!important;
}
.bord-now {
border-bottom:0px!important;
border-left:0px!important;
border-right:0px!important;
}
.bord-now th{
border-bottom:0px!important;

}
.blus {
color:#317bc2;
}
.blus a{
    color:#317bc2;
}
.text-alms {
width:300px!important;
white-space:nowrap;
text-overflow:ellipsis; 
overflow:hidden;
display:inline-block;
}
.str-icon {
    display:inline-block;
    width:20px;
    height:20px;
background:url(../images/icon_2.png) no-repeat -48px 0px;
}
.color-red{
color:#ff0000;
font-size:12px;
}
.sma {
background:#ff0000;
}
#demo1{
float:right;
margin-top:20px;
margin-bottom:10px;
}
.laypage_total label,.laypage_total input,.laypage_btn{
    background:#fff!important;
}
.laypage_btn {
line-height:15px!important;
}
.laypageskin_molv a {

border:1px #ddd solid;
}
.laypage_next {
background:#2cb9d7!important;
color:#fff!important;
border:0px!important;
}
.swc-text {
background:#fff!important;
border:0px;
border:1px #ddd solid;
width:80px;
}
