<div style="margin: 15px;">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">用户编号&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">123546987</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">交易金额&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">50</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">交易内容&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">购物</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">交易对象&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">忧郁的电风扇的商铺</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">请求日期&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">2017-01-20</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">流水号&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">231548</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">交易处理日期&nbsp;:</label>
			<div class="layui-input-inline">
					<label class="layui-form-label key">2017-01-20</label>
			</div>

		</div>
		
		
		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>