<div style="margin: 15px;">
	<form class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">用户类型&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">商铺用户/普通用户</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">用户名&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">沈场麻辣烫</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">提现金额&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">255</label>
			</div>
		</div>

		<!--数字-->
		<div class="layui-form-item">
			<label class="layui-form-label">请求日期&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">2017-10-20 12：00</label>
			</div>
		</div>
		<!--数字-->
		<div class="layui-form-item">
			<label class="layui-form-label">收款账号&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">15862145587</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">收款银行&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">支付宝</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">当前余额&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">20</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">提现状态&nbsp;:</label>
			<div class="layui-input-inline">
				<label class="layui-form-label key">已提现</label>
			</div>

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">是否提现&nbsp;:</label>
			<div class="layui-input-block">
				<input type="radio" name="y" value="是" title="是" checked="">
				<input type="radio" name="y" value="否" title="否">
			</div>

		</div>

		<button lay-filter="edit" lay-submit style="display: none;"></button>
	</form>
</div>